info:
  description: The Digicloud API Reference
  title: Digicloud
  version: 1.0.0
openapi: 3.0.2
servers:
  - url: https://api.digicloud.dev/v1/
paths:
  /edge/domains:
    post:
      tags:
        - domain
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DNSDomainSchema'
      responses:
        202:
          description: successful operation
        400:
          description: client did something wrong
      security:
        - Bearer: [ ]
    get:
      tags:
        - domain
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNSDomainListSchema'
        400:
          description: client did something wrong
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}:
    get:
      tags:
        - domain
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNSDomainRetrieveSchema'
        400:
          description: client did something wrong
      security:
        - Bearer: [ ]
    delete:
      tags:
        - domain
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: successful operation
        400:
          description: client did something wrong
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/records:
    post:
      tags:
        - record
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/DNSARecordSchema'
                - $ref: '#/components/schemas/DNSTXTRecordSchema'
                - $ref: '#/components/schemas/DNSCNAMERecordSchema'
                - $ref: '#/components/schemas/DNSMXRecordSchema'
                - $ref: '#/components/schemas/DNSSRVRecordSchema'
      responses:
        202:
          description: successful operation
        404:
          description: item does not exist
      security:
        - Bearer: [ ]
    get:
      tags:
        - record
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNSRecordListSchema'
        404:
          description: item does not exist
      security:
        - Bearer: [ ]
  /edge/domains/{domain_name_id}/ns-records:
    get:
      tags:
        - ns-record
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainNSRecordSchema'
        404:
          description: item does not exist
      security:
        - Bearer: [ ]
  /edge/domains/{domain_name_id}/dnssec:
    get:
      tags:
        - dnssec
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDNSSECSchema'
        404:
          description: item does not exist
      security:
        - Bearer: [ ]
    patch:
      tags:
        - dnssec
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainDNSSECSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDNSSECSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/verify-ns-records:
    get:
      tags:
        - verify-ns-records
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
        404:
          description: item does not exist
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/records/{record_id}:
    get:
      tags:
        - record
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: record_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DNSARecordDetailsSchema'
                  - $ref: '#/components/schemas/DNSTXTRecordDetailsSchema'
                  - $ref: '#/components/schemas/DNSCNAMERecordDetailsSchema'
                  - $ref: '#/components/schemas/DNSMXRecordDetailsSchema'
                  - $ref: '#/components/schemas/DNSSRVRecordDetailsSchema'
        404:
          description: item does not exist
      security:
        - Bearer: [ ]
    patch:
      tags:
        - record
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: record_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/DNSARecordSchema'
                - $ref: '#/components/schemas/DNSTXTRecordSchema'
                - $ref: '#/components/schemas/DNSCNAMERecordSchema'
                - $ref: '#/components/schemas/DNSMXRecordSchema'
                - $ref: '#/components/schemas/DNSSRVRecordSchema'
      responses:
        202:
          description: successful operation
        404:
          description: item does not exist
      security:
        - Bearer: [ ]
    delete:
      tags:
        - record
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: record_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: no content
        404:
          description: item does not exist
      security:
        - Bearer: [ ]

  /edge/domains/domain-check:
    get:
      tags:
        - dnr
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: query
          name: domain
          description: "Domain address like: amirmhp.ir"
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/DomainCheckSchema'
        404:
          description: item does not exist
      security:
        - Bearer: [ ]

  /edge/domains/domain-price-list:
    get:
      tags:
        - dnr
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainPriceListSchema'
        404:
          description: item does not exist
      security:
        - Bearer: [ ]

  /edge/domains/domain-register:
    post:
      description: "Register domain"
      tags:
        - dnr
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DomainRegisterBodySchema'
      responses:
        201:
          description: successful operation
      security:
        - Bearer: [ ]

  /load-balancers/{load_balancer_id}/backends/{backend_id}/health_checks:
    post:
      description: "Create a health check for the specified backend."
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
        - in: path
          name: backend_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/HealthCheckSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckSchema'
      security:
        - Bearer: [ ]
    get:
      description: "get list of health checks for the specified backend."
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
        - in: path
          name: backend_id
          required: true
          schema:
            type: string
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HealthCheckSchema'
      security:
        - Bearer: [ ]

  /load-balancers/{load_balancer_id}/backends/{backend_id}/health-checks/{health_check_id}:
    delete:
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
        - in: path
          name: backend_id
          required: true
          schema:
            type: string
        - in: path
          name: health_check_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: no content
        404:
          description: item does not exist
      security:
        - Bearer: [ ]

  /load-balancers/{load_balancer_id}/backends/{backend_id}/members:
    post:
      description: "Add members to backend."
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
        - in: path
          name: backend_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/BackendMemberSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackendMemberSchema'
      security:
        - Bearer: [ ]
    get:
      description: "list a backend members."
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
        - in: path
          name: backend_id
          required: true
          schema:
            type: string
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackendMemberSchema'
      security:
        - Bearer: [ ]
  /load-balancers/{load_balancer_id}/backends/{backend_id}/member/{member_id}:
    delete:
      description: "delete a member from backend."
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
        - in: path
          name: backend_id
          required: true
          schema:
            type: string
        - in: path
          name: member_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: no content
        404:
          description: item does not exist
      security:
        - Bearer: [ ]

  /load-balancers/{load_balancer_id}/backends:
    post:
      description: "Create a backend."
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackendSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendSchema'
      security:
        - Bearer: [ ]
    get:
      description: "list backends."
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackendSchema'
      security:
        - Bearer: [ ]

  /load-balancers/{load_balancer_id}/backends/{backend_id}:
    delete:
      description: "delete a backend from the specified load balancer."
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
        - in: path
          name: backend_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: no content
        404:
          description: item does not exist
      security:
        - Bearer: [ ]

  /load-balancers/{load_balancer_id}/frontends:
    post:
      description: "Create a frontend."
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FrontendSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendSchema'
      security:
        - Bearer: [ ]
    get:
      description: "list frontends."
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FrontendSchema'
      security:
        - Bearer: [ ]

  /load-balancers/{load_balancer_id}/frontends/{frontend_id}:
    delete:
      description: "delete a frontend from the specified load balancer."
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
        - in: path
          name: frontend_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: no content
        404:
          description: item does not exist
      security:
        - Bearer: [ ]
    patch:
      description: "update a frontend from the specified load balancer."
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
        - in: path
          name: frontend_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FrontendUpdateSchema'
      responses:
        200:
          description: successful update
        404:
          description: item does not exist
      security:
        - Bearer: [ ]
  /load-balancers:
    post:
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/LoadBalancerSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LoadBalancerSchema'
      security:
        - Bearer: [ ]
  /load-balancers/{load_balancer_id}:
    get:
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerSchema'
        404:
          description: item does not exist
      security:
        - Bearer: [ ]
    patch:
      summary: "Edit a loadbalancer"
      description: "only name and description are editable."
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadBalancerSchema'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerSchema'
        404:
          description: item does not exist
      security:
        - Bearer: [ ]
    delete:
      tags:
        - loadbalancer
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: load_balancer_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: no content
        404:
          description: item does not exist
      security:
        - Bearer: [ ]

  /audit-logs:
    get:
      tags:
        - audit-log
      operationId: AuditLog.List
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: query
          name: count
          description: "number of items per response"
          required: false
          schema:
            type: integer
            default: 25
        - in: query
          name: cursor
          description: "pagination cursor"
          required: false
          schema:
            type: string
        - in: query
          description: "filter logs before this date exclusive, e.g: before=2021-06-07T13:55:33"
          name: before
          required: false
          schema:
            type: string
        - in: query
          description: "filter logs after this date exclusive, e.g: after=2021-06-07T13:55:33"
          name: after
          required: false
          schema:
            type: string
        - in: query
          description: "filter based on user, user may or may not be a member of this namespace"
          name: user_id
          required: false
          schema:
            type: string
        - in: query
          name: object_id
          required: false
          schema:
            type: string
        - in: query
          name: object_type
          required: false
          schema:
            type: string
            enum:
              - iaas.instance
              - iaas.volume
              - iaas.network
              - iaas.subnet
              - iaas.fip
              - iaas.router
              - iaas.externalvpn
              - iaas.securitygroup
              - edge.domain
              - edge.record
      responses:
        200:
          description: List of audit-logs
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/CursorPaginationContainer'
                  - properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/AuditLog'
  /early-access-request:
    post:
      tags:
        - early-access-request
      operationId: EarlyAccessRequest.Post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarlyAccessRequestSchema'
      responses:
        201:
          description: early access created
        400:
          description: alreay exist

  /oss/locations:
    get:
      tags:
        - location
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocationSchema'
      security:
        - Bearer: [ ]

  /oss/buckets:
    post:
      tags:
        - bucket
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BucketDetailSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketDetailSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - bucket
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BucketSchema'
      security:
        - Bearer: [ ]
  /oss/buckets/{bucket_name_or_id}:
    patch:
      tags:
        - bucket
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: bucket_name_or_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                access_type:
                  type: string
                  enum:
                    - private
                    - public-read
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketDetailSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - bucket
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: bucket_name_or_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BucketDetailSchema'
      security:
        - Bearer: [ ]
    delete:
      tags:
        - bucket
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "header"
          name: "Digicloud-Region"
          required: true
          schema:
            type: string
        - in: path
          name: bucket_name_or_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: successful operation
      security:
        - Bearer: [ ]

  /namespace-search:
    get:
      tags:
        - search
      parameters:
        - $ref: "#/components/parameters/PaginationCount"
        - $ref: "#/components/parameters/PaginationPage"
        - $ref: "#/components/parameters/FilterQuery"
      responses:
        200:
          description: List of namespace objects
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/PaginationContainer'
                  - properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Object'
        401:
          description: "Unauthorized"

  /oss/buckets/{bucket_name_or_id}/access-keys:
    post:
      tags:
        - access-key
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: bucket_name_or_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessKeySchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/AccessKeySchema'
                  - properties:
                      secret_key:
                        type: string
                        readOnly: true
      security:
        - Bearer: [ ]
    get:
      tags:
        - access-key
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: bucket_name_or_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessKeySchema'
      security:
        - Bearer: [ ]
  /oss/buckets/{bucket_name_or_id}/access-key/{access_key}:
    patch:
      tags:
        - access-type
      description: For now access_type, name and is_active is updateable.
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: bucket_name_or_id
          required: true
          schema:
            type: string
        - in: path
          name: access_key
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessKeySchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeySchema'
      security:
        - Bearer: [ ]
    delete:
      tags:
        - access_key
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: bucket_name_or_id
          required: true
          schema:
            type: string
        - in: path
          name: access_key
          required: true
          schema:
            type: string
      responses:
        204:
          description: successful operation
      security:
        - Bearer: [ ]


  /oss/access-keys:
    post:
      tags:
        - namespace_access_key
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceAccessKeySchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - namespace_access_key
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NamespaceAccessKeySchema'
      security:
        - Bearer: [ ]
  /oss/access-keys/{access_key_id}:

    delete:
      tags:
        - namespace_access_key
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: access_key_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: successful operation

  /oss/s3_actions:
    get:
      tags:
        - S3_Actions
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /oss/policies:
    post:
      tags:
        - oss_policy
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicySchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - oss_policy
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PolicySchema'
      security:
        - Bearer: [ ]
  /oss/policies/{policy_id}:
    patch:
      tags:
        - oss_policy
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "path"
          name: "policy_id"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicySchema'

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySchema'
    get:
      tags:
        - oss_policy
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "path"
          name: "policy_id"
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySchema'
    delete:
      tags:
        - oss_policy
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "path"
          name: "policy_id"
          required: true
          schema:
            type: string
      responses:
        204:
          description: successful operation

  /oss/policies/statements/{statement_id}:
    patch:
      tags:
        - oss_policy
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "path"
          name: "statement_id"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyStatementSchema'

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyStatementSchema'
    get:
      tags:
        - oss_policy
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "path"
          name: "statement_id"
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyStatementSchema'
    delete:
      tags:
        - oss_policy
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "path"
          name: "statement_id"
          required: true
          schema:
            type: string
      responses:
        204:
          description: successful operation
  /oss/buckets/{bucket_id}/policies:
    get:
      tags:
        - oss_policy
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "path"
          name: "bucket_id"
          required: true
          schema:
            type: string

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PolicySchema'
      security:
        - Bearer: [ ]
  /oss/access_keys/{access_key_id}/policies:
    get:
      tags:
        - oss_policy
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "path"
          name: "access_key_id"
          required: true
          schema:
            type: string

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PolicySchema'
      security:
        - Bearer: [ ]

    post:
      tags:
        - oss_policy
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: "path"
          name: "access_key_id"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                policy_ids:
                  type: array
                  items:
                    type: string
      responses:
        201:
          description: successful operation
      security:
        - Bearer: [ ]
  /edge/domains/{domain_name_id}/upstreams:
    post:
      tags:
        - upstream
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpstreamSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpstreamSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - upstream
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/UpstreamSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/upstreams/{upstream_name_id}:
    patch:
      tags:
        - upstream
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: upstream_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpstreamSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpstreamSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - upstream
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: upstream_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UpstreamSchema'
      security:
        - Bearer: [ ]
    delete:
      tags:
        - upstream
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: upstream_name_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: successful operation
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/upstreams/{upstream_name_id}/servers:
    post:
      tags:
        - upstream-server
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: upstream_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpstreamServerSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpstreamServerSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - upstream-server
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: upstream_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/UpstreamServerSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/upstreams/{upstream_name_id}/servers/{server_id}:
    patch:
      tags:
        - upstream-server
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: upstream_name_id
          required: true
          schema:
            type: string
        - in: path
          name: server_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpstreamServerSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpstreamServerSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - upstream-server
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: upstream_name_id
          required: true
          schema:
            type: string
        - in: path
          name: server_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UpstreamServerSchema'
      security:
        - Bearer: [ ]
    delete:
      tags:
        - upstream-server
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: upstream_name_id
          required: true
          schema:
            type: string
        - in: path
          name: server_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: successful operation
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/ssl:
    patch:
      tags:
        - ssl
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSLSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSLSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - ssl
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SSLSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/locations:
    post:
      tags:
        - edge-location
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CDNLocationSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CDNLocationSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - edge-location
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/CDNLocationSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/locations/{location_name_id}:
    patch:
      tags:
        - edge-location
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: location_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CDNLocationSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CDNLocationSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - edge-location
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: location_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CDNLocationSchema'
      security:
        - Bearer: [ ]
    delete:
      tags:
        - edge-location
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: location_name_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: successful operation
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/firewalls:
    post:
      tags:
        - edge-firewall
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CDNFirewallSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CDNFirewallSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - edge-firewall
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CDNFirewallSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/firewalls/{firewall_id}:
    patch:
      tags:
        - edge-firewall
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: firewall_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CDNFirewallSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CDNFirewallSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - edge-firewall
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: firewall_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CDNFirewallSchema'
      security:
        - Bearer: [ ]
    delete:
      tags:
        - edge-firewall
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: firewall_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: successful operation
      security:
        - Bearer: [ ]

  /edge/cache-zones:
    get:
      tags:
        - cache-zones
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CacheZoneSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/general-setting:
    patch:
      tags:
        - general-setting
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneralSettingSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralSettingSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - general-setting
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneralSettingSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/purge-cache:
    post:
      tags:
        - purge-cache
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurgeCacheSchema'
      responses:
        202:
          description: successful operation
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/rate-limits:
    post:
      tags:
        - rate-limit
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateLimitSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - rate-limit
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/RateLimitSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/rate-limits/{rate_limit_name_id}:
    patch:
      tags:
        - rate-limit
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: rate_limit_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateLimitSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - rate-limit
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: rate_limit_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RateLimitSchema'
      security:
        - Bearer: [ ]
    delete:
      tags:
        - rate-limit
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: rate_limit_name_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: successful operation
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/watermarks:
    post:
      tags:
        - watermarks
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WaterMarkSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaterMarkSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - watermarks
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/WaterMarkSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/watermarks/{watermark_id}:
    get:
      tags:
        - watermarks
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: watermark_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaterMarkSchema'
      security:
        - Bearer: [ ]
    delete:
      tags:
        - watermarks
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: watermark_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: successful operation
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/image-process:
    post:
      tags:
        - image-process
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageProcessSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageProcessSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - image-process
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/ImageProcessSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/image-process/{image_process_id}:
    patch:
      tags:
        - image-process
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: image_process_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageProcessSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageProcessSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - image-process
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: image_process_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImageProcessSchema'
      security:
        - Bearer: [ ]
    delete:
      tags:
        - image-process
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: image_process_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: successful operation
      security:
        - Bearer: [ ]
  /edge/domains/{domain_name_id}/waf-packages:
    get:
      tags:
        - WAF
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - type: string
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/waf-rules:
    post:
      tags:
        - WAF
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WAFRuleSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFRuleSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - WAF
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WAFRuleSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/waf-rules/{rule_id}:
    patch:
      tags:
        - WAF
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: rule_id
          required: true
          schema:
            type: string

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WAFRuleSchema'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFRuleSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - WAF
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: rule_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFRuleSchema'
      security:
        - Bearer: [ ]
    delete:
      tags:
        - WAF
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: rule_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: successful operation
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/waf-rules/{rule_id}/config:
    patch:
      tags:
        - WAF
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: rule_id
          required: true
          schema:
            type: string

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WAFRuleConfigSchema'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFRuleConfigSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - WAF
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: rule_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFRuleConfigSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/waf-whitelists:
    post:
      tags:
        - WAF
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WAFWhitelistSchema'
      responses:
        201:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFWhitelistSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - WAF
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WAFWhitelistSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/waf-whitelists/{whitelist_id}:
    patch:
      tags:
        - WAF
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: whitelist_id
          required: true
          schema:
            type: string

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WAFWhitelistSchema'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFWhitelistSchema'
      security:
        - Bearer: [ ]
    get:
      tags:
        - WAF
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: whitelist_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFWhitelistSchema'
      security:
        - Bearer: [ ]
    delete:
      tags:
        - WAF
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: whitelist_id
          required: true
          schema:
            type: string
      responses:
        204:
          description: successful operation
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/waf-settings:
    get:
      tags:
        - WAF
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFSettingSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/waf-setting/{setting_id}:
    patch:
      tags:
        - WAF
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
        - in: path
          name: setting_id
          required: true
          schema:
            type: string

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WAFSettingSchema'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFSettingSchema'
      security:
        - Bearer: [ ]

  /edge/packages:
    get:
      tags:
        - edge
        - package
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDomainPackageListSchema'
      security:
        - Bearer: [ ]

  /edge/domains/{domain_name_id}/packages:
    patch:
      tags:
        - edge
        - package
      parameters:
        - in: path
          name: domain_name_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradeDomainPackageSchema'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNSDomainRetrieveSchema'
      security:
        - Bearer: [ ]

  /pricing/edge-packages:
    get:
      tags:
        - pricing-instances
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: query
          name: valid_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: start_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: end_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: package_id
          required: false
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/EdgePackagePriceSchema'
      security:
        - Bearer: [ ]


  /tickets/departments:
    get:
      summary: List ticket departments
      tags:
        - Ticket
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DepartmentSchema'

  /tickets/departments/{department_id}/products:
    get:
      summary: List ticket products
      tags:
        - Ticket
      parameters:
        - in: path
          required: true
          name: department_id
          schema:
            type: string

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductSchema'

  /tickets/departments/{department_id}/products/{product_id}/subjects:
    get:
      summary: List ticket subjects
      tags:
        - Ticket
      parameters:
        - in: path
          required: true
          name: department_id
          schema:
            type: string
        - in: path
          name: product_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubjectSchema'

  /tickets:
    post:
      summary: Create a ticket
      tags:
        - Ticket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketSchema'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketSchema'

    get:
      summary: List tickets
      tags:
        - Ticket
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TicketSchema'

  /tickets/{ticket_id}:
    get:
      summary: Get a ticket
      tags:
        - Ticket
      parameters:
        - in: path
          required: true
          name: ticket_id
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketSchema'

  /tickets/{ticket_id}/comments:
    post:
      summary: Create a comment
      tags:
        - Ticket
      parameters:
        - in: path
          required: true
          name: ticket_id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentSchema'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentSchema'

    get:
      summary: List comments
      tags:
        - Ticket
      parameters:
        - in: path
          required: true
          name: ticket_id
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommentSchema'

  /tickets/{ticket_id}/feedbacks:
    parameters:
      - name: ticket_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the ticket

    get:
      summary: Get feedback for a ticket
      tags:
        - Ticket
      description: Retrieve feedback for a specific ticket.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array  # Assuming you retrieve a list of feedback
                items:
                  $ref: '#/components/schemas/TicketFeedback'
        default:
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: string

    post:
      summary: Submit feedback for a ticket
      tags:
        - Ticket
      description: Submit feedback for a specific ticket.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketFeedback'
      responses:
        '201':
          description: Feedback submitted successfully
        default:
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: string

  /pricing/instances:
    get:
      tags:
        - pricing-instances
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: query
          name: region_id
          required: true
          schema:
            type: string
        - in: query
          name: valid_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: start_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: end_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: instance_type_id
          required: false
          schema:
            type: string
        - in: query
          name: instance_state
          required: false
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/InstancePriceSchema'
      security:
        - Bearer: [ ]

  /pricing/volumes:
    get:
      tags:
        - pricing-volumes
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: query
          name: region_id
          required: true
          schema:
            type: string
        - in: query
          name: valid_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: start_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: end_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: volume_type
          required: false
          schema:
            type: string
        - in: query
          name: base_price
          required: false
          schema:
            type: integer
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/VolumePriceSchema'
      security:
        - Bearer: [ ]

  /pricing/snapshots:
    get:
      tags:
        - pricing-snapshots
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: query
          name: region_id
          required: true
          schema:
            type: string
        - in: query
          name: valid_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: start_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: end_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: volume_type
          required: false
          schema:
            type: string
        - in: query
          name: base_price
          required: false
          schema:
            type: integer
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/VolumePriceSchema'
      security:
        - Bearer: [ ]


  /pricing/public-ips:
    get:
      tags:
        - pricing-pulic-ips
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: query
          name: region_id
          required: true
          schema:
            type: string
        - in: query
          name: valid_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: start_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: end_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: public_ip_state
          required: false
          schema:
            type: string
        - in: query
          name: public_ip_id
          required: false
          schema:
            type: string
        - in: query
          name: base_price
          required: false
          schema:
            type: integer
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/PublicIpPriceSchema'
      security:
        - Bearer: [ ]

  /pricing/vpns:
    get:
      tags:
        - pricing-vpns
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: query
          name: region_id
          required: true
          schema:
            type: string
        - in: query
          name: valid_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: start_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: end_date
          required: false
          schema:
            type: string
            format: datetime
        - in: query
          name: vpn_connection_state
          required: false
          schema:
            type: string
        - in: query
          name: vpn_connection_id
          required: false
          schema:
            type: string
        - in: query
          name: base_price
          required: false
          schema:
            type: integer
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/VpnConnectionPriceSchema'
      security:
        - Bearer: [ ]

  /pricing/discounts:
    get:
      tags:
        - pricing-discount
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
        - in: query
          name: region_id
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/DiscountSchema'
      security:
        - Bearer: [ ]

  /billing/usage-reports:
    post:
      tags:
        - billing-usage-report
      parameters:
        - in: "header"
          name: "Digicloud-Namespace"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageReportSchema'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/UsageReportResponseSchema'
      security:
        - Bearer: [ ]

  "/edge/laas/metrics/request-analysis/stats":
    get:
      tags:
        - edge
          - laas-metrics
          - request-analysis
      summary: Get All Stats
      description: |-
        Return in number of total requests and total traffic based on the time_frame

        The data is collected `cdn_metrics_nginx_access_all_cache` datasource
      operationId: get_stats_all_v1_request_analysis_all_stats_get
      parameters:
        - required: true
          schema:
            title: Domain Names
            type: string
          name: domain_names
          in: query
        - required: true
          schema:
[...]
